/* BODY STYLES */

body{
    background-color: #F4F7FD;
    width: 1440px;
    height: 1024px;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: Plus Jakarta Sans;
}

/* NAV BAR */
.sidebar{
    width: 18.75rem;
    height: 100%;
    background-color: #FFFFFF;
    padding-top: 2rem;
}
/* Logo */
.logo{
    width: 9.5331rem;
    height: 1.5762rem;
    margin: 0 0 0 2rem;
}
.logo-img{
    width: 100%;
    height: 100%;
}
/* Board Links */
h4{
    font-size: .75rem;
    font-weight: bold;
    line-height: .9375rem;
    color: #828FA3;
    letter-spacing: .15rem;
    margin: 0;
}
/* Button */
button{
    background-color: #635FC7;
    color: #FFFFFF;
    width: 17.25rem;
    height: 3rem;
    border-top-right-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
    border: none;
    padding: 0;
}
button:hover{
    background-color: #A8A4FF;
    cursor: pointer;
}

/* HEADER */
.header{
    width: 71.25rem;
    height: 6.0625rem;
    background-color: #FFFFFF;
    padding-top: 1.8125rem;
    padding-left: 1.5rem;
    box-sizing: border-box;
}
.main-layout{
    width: 71.25rem;
    height: 100%;
}
h2{
font-weight: bold;
font-size: 1.125rem;
line-height: 1.4375rem;
color: #000112;
margin: 0;
width: 10.5625rem;
height: 1.875rem;
}

/* TASKS COLUMNS */
.tasks-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    box-sizing: border-box;
    gap: 1.5rem;
    margin: 1rem 0 0 1rem;
}
.circle-1, .circle-2, .circle-3{
    width: .9375rem;
    height: .9375rem;
    }

.task{
    background-color: #FFFFFF;
    width: 17.5rem;
    height: 3.75rem;
    border-radius: .5rem;
    padding: .5rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1015);

}
h3{
    color: #000112;
    font-weight: bold;
    font-size: .9375rem;
    line-height: 1.1875rem;

}