/* Body styles */

body{
    background-color: #F4F7FD;
    width: 1440px;
    height: 1024px;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: Plus Jakarta Sans;
}

/* NAV BAR */
.sidebar{
    width: 18.75rem;
    height: 100%;
    background-color: #FFFFFF;
    padding-top: 2rem;
}
/* Logo */
.logo{
    width: 9.5331rem;
    height: 1.5762rem;
    margin: 0 0 0 2rem;
}
.logo-img{
    width: 100%;
    height: 100%;
}
/* Board Links */
h4{
    font-size: .75rem;
    font-weight: bold;
    line-height: .9375rem;
    color: #828FA3;
    letter-spacing: .15rem;
    margin-left: 2rem;
}
button{
    background-color: #635FC7;
    color: #FFFFFF;
    width: 17.25rem;
    height: 3rem;
    border-top-right-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
    border: none;
    padding: 0;
}
button:hover{
    background-color: #A8A4FF;
    cursor: pointer;
}

/* HEADER */
.header{
    width: 71.25rem;
    height: 6.0625rem;
    background-color: #FFFFFF;
    padding-top: 1.8125rem;
    padding-left: 1.5rem;
    box-sizing: border-box;
}
.main-layout{
    width: 71.25rem;
    height: 100%;
}
h2{
font-weight: bold;
font-size: 1.125rem;
line-height: 1.4375rem;
color: #000112;
margin: 0;
width: 10.5625rem;
height: 1.875rem;
}